<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>В Кубики.Ru - Штото пошло нетак - Ошибка 500</title>
    </head>
    <body style="color:#7895AF">
        <center>
            <img src="/images/logo.mail.png" height="60" width="120"/>
            <div style="font-size: 150%;">
                Упс...
            </div>
            <div style="color: #38373F;">
                Что-то пошло не так. Мы уже сообщили кому нужно.<br/>
                Пожалуйста, обновите страницу.
            </div>
        </center>
    </body>
</html>
