<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>VKubiki.Ru - Помощь</title>
    </head>
    <body>
        {% ifequal type "mm" %}
        <div>
        {% else %}
        <center>
        <div style="width: 600px; text-align: left;">
        {% endifequal %}
            <div style="color:#7895AF;font-size: 125%;">Помощь в игре</div>
            <div>
                Для начала, вам следует выбрать карту, на которой вы хотели бы поиграть. Это можно сделать кнопкой "Найти свободую карту", либо нажав "Список" и выбрав карту самостоятельно. Затем выберите цвет, которым вы хотите играть, нажав кнопку "Играть красными", "Играть желтыми" и т.д. Чтобы игра началась, на карту должны зайти 4-8 игроков.
            </div>
            <ul>
<li>Цель игры - захватить все земельки на карте;</li>
<li>В конце хода вы получаете кубики, распределенные случайным образом;</li>
<li>Чем больше объединенных земелек вы имеете, тем больше кубиков получаете в конце хода;</li>
<li>Количество бонусных кубиков в конце хода это наибольшее количество ваших объединенных земелек.</li>
            </ul>
    <div style="color:#7895AF;font-size: 125%;">Настройки</div>
    <ul>
<li>Звук можно отключить в правом верхнем углу карты, там же можно настроить громкость звука и другие параметры;</li>
        </ul>
    <div style="color:#7895AF;font-size: 125%;">Правила</div>
    <ul>
        <li>Запрещается оскорблять участников игры в чате;</li>
        <li>Запрещается заключать союзы вне игрового чата. Другие игроки должны знать, кто заключил союз;</li>
        <li>Запрещаются тройные союзы на картах на 4 и на 6 игроков</li>
        <li>Запрещаются союзы одних и тех же людей от игры к игре.</li>
    </ul>
    За несоблюдение правил, на вас может быть наложен штраф в виде вычета очков, либо временный запрет общаться в чате. Уважайте других игроков и играйте по правилам.
    </div>
    {% ifequal type "mm" %}
    </center>
    {% endifequal %}
</body>
</html>
