<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <script type="text/javascript" src="http://connect.mail.ru/js/loader.js"></script>
        <script>
            mailru.loader.require('api', function() {
                mailru.connect.init('551727', '11286ba0ac4797aa03a56d7d7153ace2');
                mailru.app.users.requireInstallation(['notification','widget']);
            });
        </script>
    </head>
    <body>
        <center>
            Требуется добавить приложение в Мой Мир.<br/>
            Для этого нажмите ссылку "добавить в Мой Мир", далее кнопку "Добавить".<br/>
            <img src="/images/screen.jpg"/><br/>
            "В Кубики" - это социальная онлайн стратегия.
        </center>
    </body>
</html>
